<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAclw0AW1RXF7pC85Hc6cphuzkia-eeKXo</string>
	<key>GCM_SENDER_ID</key>
	<string>364496965030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fiverrApp</string>
	<key>PROJECT_ID</key>
	<string>fiverr-23fcb</string>
	<key>STORAGE_BUCKET</key>
	<string>fiverr-23fcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364496965030:ios:878bc236a222e9a2acd367</string>
</dict>
</plist>